:root {
    --color-background: #f9f9f9;
    --color-secondary: #e4e4e7;
    --color-text: #2e2f31;
    --color-text-secondary: #515354;
    --color-accent: #f7a400;
    --theme-name: "light";
}

@media (prefers-color-scheme: dark) {
    :root {
    --color-background: #2e2f31;
    --color-secondary: #515354;
    --color-text: #f9f9f9;
    --color-text-secondary: #e4e4e7;
    --color-accent: #f7a400;
    --theme-name: "dark";
    }
}

body {
    background-color: var(--color-background);
    font-family: "DM Sans", sans-serif;
}

h1 {
    color: var(--color-text);
    font-family: "DM Serif Display", serif;
    text-align: center;
    font-size: 10rem;
    padding: 0;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 0;
    color: var(--color-text-secondary);
    font-size: 48px;
    font-weight: 200;
    text-align: center;
}

input {
    border-style: solid;
    border-color: var(--color-background);
    border-radius: 10px;
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 48px;
    width: 110px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;

}

hr {
    color: var(--color-text);
}

button {
    background-color: var(--color-accent);
    color: var(--color-text);
    font-family: "DM Sans", sans-serif;
    padding: 0px 100px;
    border-radius: 100px;
    font-size: 4rem;
    border-style: solid;
    border-color: #f7a400;
}

button:hover {
    border-color: #ffba30;
    background-color: #ffba30;
}

p {
    text-align: right;
    padding: 5px;
    color: var(--color-text-secondary);
}

.menu {
    background-color: var(--color-secondary);
    border-radius: 5px;
    padding: 10px 90px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.row1 {
    display: flex;
    justify-content: space-around;

}

.buttonWrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.row2 {
    display: flex;
    justify-content: space-around;
}

.playerId {
    font-size: 36px;
    color: var(--color-text-secondary);
    margin: 8px;
}

.playerBox {
    display: flex;
}

.colorBox {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#leftBox {
    background-color: #f9f9f9;
}

#rightBox {
    background-color: #2e2f31;;
}

#exchangeIcon {
    width: 50px;
    height: auto;

}